@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
}

/* responsive query style*/
@media (max-width: 947px) {
  .menu-btn {
    z-index: 999;
    display: block;
  }
  .max-width {
    padding: 0px 50px;
  }
  .navbar .menu {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: lightskyblue;
  }
  .navbar .menu .li {
    display: block;
  }
  .navbar .menu .li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
  }
}
/*nav-bar style */
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  position: fixed;
  width: 100%;
  /*background: whitesmoke;*/
  padding: 10px 0;
  transition: all 0.3s ease;
}
.navbar .stick {
  padding: 15px 0;
  background: lightskyblue;
}
.max-width {
  max-width: 1200px;
  padding: 0px 20px;
  margin: auto;
}
.navbar .name {
  color: black;
  font-size: 30px;
  font-weight: 700;
  margin-left: 40px;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500px;
  margin-left: 50px;
  transition: color 0.4s ease;
  color: black;
}
.navbar .menu li a:hover {
  color: lightskyblue;
}

/*menu button style*/
.menu-btn {
  cursor: pointer;
  font-size: 18px;
  display: none;
}

/*home section style*/
.home {
  display: flex;
  background-image: url("Images/background4.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: black;
  min-height: 200px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content {
  margin-top: 160px;
}
.home .home-content .text-1 {
  font-size: 30px;
}
.home .home-content .text-2 {
  font-size: 50px;
  font-weight: 500px;
  margin: auto;
}
.home .home-content .text-3 {
  font-size: 35px;
  margin: auto;
}

/*about me section style*/

.about,
.skills,
.projects {
  background: whitesmoke;
  padding: 50px 0px 150px 0px;
}
.about .title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 150px;
}
.about .about-content .right {
  width: 55%;
  border-style: none;
}

.about .about-content .right .description {
  text-align: justify;
  margin-top: 25px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
.cv {
  display: inline-block;
  border: 3px solid black;
  border-radius: 4px;
  background: black;
  color: whitesmoke;
  font-size: 15px;
  padding: 10px 15px;
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
}
.cv:hover {
  color: lightskyblue;
}
/*skills section style*/

.skills {
  background: whitesmoke;
}
.skills .title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.skills .skills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px
}
.skills .skills-content .left,
.right {
  width: 50%;
  border: 5px;
  border-color: lightskyblue;
}
.skills .skills-content .left .softSkills {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  /*border: 2px solid lightskyblue;
  border-radius: 10px;*/
}
.skills .skills-content .right .techSkills {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  /*border: 2px solid lightskyblue;
  border-radius: 10px;*/
}
.skills .skills-content .left img,
.right img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  border-top: 50px;
  float: left;
}
.column-list {
  list-style-type: none;
  display: inline-block;
  margin: 20px 40px;
  margin-top: 0px;
  font-size: 15px;
  text-align: left;
  line-height: 2.3;
  font-family: "Ubuntu", sans-serif;
}
.skills .skills-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.certificate {
  display: inline-block;
  border: 3px solid black;
  border-radius: 4px;
  background: black;
  color: whitesmoke;
  font-size: 12px;
  padding: 5px 5px;
  margin-top: 5px;
  font-family: "Ubuntu", sans-serif;
}
.certificate:hover {
  color: lightskyblue;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.skills .skills-content .right .bars {
  margin-left: 250px;
}

.skills .skills-content {
  display: table;
  width: 100%;
}
.skills .skills-content .left,.right {
  display: table-cell;
}

/*my projects section styling*/

.projects {
  background: whitesmoke;
}
.projects .title,
.text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  
}
.projects .projects-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*column-gap: 2px;
  row-gap: 5px;*/
  align-items: center;
  margin-top:20px;
  
  
}
.projects .projects-content .item {
  display:grid;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border: 2px solid lightskyblue;
  border-radius: 4px;
  margin-left: 15px;
  width: 145px;
  height: 300px;
}
.projects .projects-content .item .image {
  width: 130px;
  height: 100px;
  object-fit: cover;
  margin: 5px 5px;
  
}
.projects .projects-content .item i{
  color: black;
}
.projects .projects-content .item a{
  font-family: "Ubuntu", sans-serif;
  color: black;
  font-size: 10px;
  font-weight: 800;
  text-align: justify;
  line-height: 20px;
}
.projects .projects-content .item a:hover{
  color: lightskyblue;
}
.projects .projects-content .item h3, p{
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  
}